{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
    <div>
        <h1>Welcome</h1>
        <p class="lead">Welcome to class sniper for Drew. Check off the requirements that you still need to fulfill and you will get a listing of all classes filling two or more of those requirements.</p>
      </div>


    <div class="well" style="max-height: 300px;overflow: auto;">


      <form method="POST" action="/selections" style="">

       <fieldset>
          <legend><center>Requirements Remaining</center></legend>


          <div style ="font-size:20px; font-weight:bold; margin-left:150px;">

            {{ form.writing_intensive }} {{ form.writing_intensive.label }} <br/>
            {{ form.diversity_us }} {{ form.diversity_us.label }} <br/>
            {{ form.interdisc_breadth }} {{ form.interdisc_breadth.label }} <br/>
            {{ form.natural_sci }} {{ form.natural_sci.label }} <br/>
            {{ form.humanities }} {{ form.humanities.label }} <br/>

            <center>
              <input class="btn btn-lg btn-success" role="button" type="submit" value="Find Classes">
            </center>
          </div>

       </fieldset>
    </form>
    </div>
  </div>
</div>
{% endblock %}
