{% extends "layout.html" %}
{% block content %}
<!-- Tracking -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-86733912-1', 'auto');
  ga('send', 'pageview');

</script>
<div class="container">
    <div>
      <h1>Welcome</h1>
      <p class="lead">Check your remaining requirements on TreeHouse Ladder and then select the required categories that you still need to fulfill in the menu below. Then, click 'Find Classes' to get a list of courses for the Spring 2017 semester that fulfill one or more of your selections.</p>
    </div>

    <div class="container" style="width:400px">
      <div class="well" style="height: 510px;overflow: auto;">


        <form method="POST" action="/">

         <fieldset>
            <legend>Requirements Remaining</legend>


            <div style ="font-size:20px; font-weight:bold; margin-left:15px;">

              {{ form.quantitative }} {{ form.quantitative.label }} <br/>
              {{ form.writing_intensive }} {{ form.writing_intensive.label }} <br/>
              {{ form.off_campus }} {{ form.off_campus.label }} <br/>
              {{ form.diversity_us }} {{ form.diversity_us.label }} <br/>
              {{ form.diversity_international }} {{ form.diversity_international.label }} <br/>
              {{ form.natural_sci }} {{ form.natural_sci.label }} <br/>
              {{ form.social_sciences }} {{ form.social_sciences.label }} <br/>
              {{ form.humanities }} {{ form.humanities.label }} <br/>
              {{ form.breadth_arts }} {{ form.breadth_arts.label }} <br/>
              {{ form.interdisc_breadth }} {{ form.interdisc_breadth.label }} <br/>
              <br/>
              <input class="btn btn-lg btn-success" role="button" type="submit" value="Find Classes">

            </div>

         </fieldset>
      </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
