<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Stylesheet imports -->
    <link href="../static/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <title>Breadth Class Finder | Drew University Class Finder</title>
  </head>

  <body role="document">
    <script src="../static/js/vendor/jquery.min.js"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.min.js"></script>

    <div class="container">
      <br/>
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <!-- <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">About</a></li> -->
          </ul>
        </nav>
        <h3 class="text-muted"><a href="/">Breadth Class Finder</a></h3>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- BreadthFinder -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-3142989070014529"
             data-ad-slot="7666489899"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>

      <div>
        {% block content %}
        {% endblock %}
      </div>

      <div class="container">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- BreadthFinder -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-3142989070014529"
             data-ad-slot="7666489899"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
      <footer class="footer">
        <center><p>Designed by <a href="http://idkcode.com">Chris Thurber</a></p></center>
      </footer>

    </div>

  </body>

</html>
